:root {
    --animate-delay: 3s;
  }

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: 'Montserrat' ,sans-serif;
}
html {
    scroll-behavior: smooth;
}

::selection {
    background-color: #48dbfb60;
}

::-webkit-scrollbar{
    width: 10px;
    background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb{
    background-color: #353b48;
}
/* lANDING PAGE */
.landingWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to right, #CAC8F2, #95DDE1);
    overflow:hidden;
    /* position: relative; */
}

.centerSVGwrapper{
    position: relative;
    top: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
}
/* .centerSVGwrapper::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 999;
    opacity: 0.2
} */

.centerSVG img {
    position: absolute;
    top: -200%;
    width: 100%;
    height: 100%;
    transform: translate(50%, -50%);
}

.centerSVG svg {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 100%;
    transform: translate(50%, -50%);
    padding: 0 20vh;

}

.centerSVG svg#birthday {
    top: 50%;
    opacity: 0.2;
}

#human1 {
    position: absolute;
    left: 200%;
    top: 50%;
    animation: landingSVGAnimate2 2s ease-in-out forwards 8.45s, hiddenAfter 1s ease-out forwards 12s;
}

#human2 {
    position: absolute;
    left: -200%;
    top: 50%;
    animation: landingSVGAnimate1 2s ease-in-out forwards 8.5s, hiddenAfter 1s ease-out forwards 12s;
}

#first {
    z-index: -1;
}

@keyframes goUp {
    to {
        top: 20%;
    }
}

#greet path:nth-child(1) {
    stroke-dasharray: 158px;
    stroke-dashoffset: 158px;
    animation: line-animation 2s  ease-in-out ;
}
#greet path:nth-child(2) {
   stroke-dasharray: 294px;
   stroke-dashoffset: 294px;
   animation: line-animation 2s  ease-in-out  .1s;
}
#greet path:nth-child(3) {
   stroke-dasharray: 291px;
   stroke-dashoffset: 291px;
   animation: line-animation 2s  ease-in-out  .2s;
}
#greet path:nth-child(4) {
   stroke-dasharray: 219px;
   stroke-dashoffset: 219px;
   animation: line-animation 2s  ease-in-out  .3s;
}
#greet path:nth-child(5) {
   stroke-dasharray: 171px;
   stroke-dashoffset: 171px;
   animation: line-animation 2s  ease-in-out  .4s;
}
#greet path:nth-child(6) {
   stroke-dasharray: 294px;
   stroke-dashoffset: 294px;
   animation: line-animation 2s  ease-in-out  .5s;
}
#greet path:nth-child(7) {
   stroke-dasharray: 465px;
   stroke-dashoffset: 465px;
   animation: line-animation 2s  ease-in-out  .6s;
}
#greet path:nth-child(8) {
   stroke-dasharray: 358px;
   stroke-dashoffset: 358px;
   animation: line-animation 2s  ease-in-out  .7s;
}
#greet path:nth-child(9) {
   stroke-dasharray: 294px;
   stroke-dashoffset: 294px;
   animation: line-animation 2s  ease-in-out  .8s;
}
#greet path:nth-child(10) {
   stroke-dasharray: 219px;
   stroke-dashoffset: 219px;
   animation: line-animation 2s  ease-in-out  .9s;
}
#greet path:nth-child(11) {
   stroke-dasharray: 352px;
   stroke-dashoffset: 352px;
   animation: line-animation 2s  ease-in-out  1s;
}
#greet path:nth-child(12) {
   stroke-dasharray: 166px;
   stroke-dashoffset: 166px;
   animation: line-animation 2s  ease-in-out  1.1s;
}
#greet path:nth-child(13) {
   stroke-dasharray: 291px;
   stroke-dashoffset: 291px;
   animation: line-animation 2s  ease-in-out  1.2s;
}
#greet path:nth-child(14) {
   stroke-dasharray: 291px;
   stroke-dashoffset: 291px;
   animation: line-animation 2s  ease-in-out  1.3s;
}
#greet path:nth-child(15) {
   stroke-dasharray: 291px;
   stroke-dashoffset: 291px;
   animation: line-animation 2s  ease-in-out  1.4s;
}
#greet path:nth-child(16) {
   stroke-dasharray: 291px;
   stroke-dashoffset: 291px;
   animation: line-animation 2s  ease-in-out  1.5s;
}
#greet path:nth-child(17) {
   stroke-dasharray: 291px;
   stroke-dashoffset: 291px;
   animation: line-animation 2s  ease-in-out  1.6s;
}
#greet path:nth-child(18) {
   stroke-dasharray: 291px;
   stroke-dashoffset: 291px;
   animation: line-animation 2s  ease-in-out  1.7s;
}


@keyframes line-animation {
    to {
        stroke-dashoffset: 0;
    }
 }
 @keyframes hiddenAfter {
     from{
         opacity: 1;
     }
     to {
        opacity: 0;
     }
 }

.part1 {
    animation: landingSVGAnimate .5s ease-in-out forwards 1s, hiddenAfter 1s ease-out forwards 12s ;
}
.part2 {
    animation: landingSVGAnimate .5s ease-in-out forwards 1.75s, hiddenAfter 1s ease-out forwards 12s;
}
.part3 {
    animation: landingSVGAnimate .5s ease-in-out forwards 2.25s, hiddenAfter 1s ease-out forwards 12s;
}
.part4 {
    animation: landingSVGAnimate .5s ease-in-out forwards 2.75s, hiddenAfter 1s ease-out forwards 12s;
}
.part5 {
    animation: landingSVGAnimate .5s ease-in-out forwards 3s, hiddenAfter 1s ease-out forwards 12s;
}
.part6 {
    animation: landingSVGAnimate .5s ease-in-out forwards 3.25s, hiddenAfter 1s ease-out forwards 12s;
}
.part7 {
    animation: landingSVGAnimate .5s ease-in-out forwards 3.5s, hiddenAfter 1s ease-out forwards 12s;
}
.part8 {
    animation: landingSVGAnimate .5s ease-in-out forwards 3.75s, hiddenAfter 1s ease-out forwards 12s;
}
.part9 {
    animation: landingSVGAnimate .5s ease-in-out forwards 4s, hiddenAfter 1s ease-out forwards 12s;
}
.part10 {
    animation: landingSVGAnimate .5s ease-in-out forwards 4.25s, hiddenAfter 1s ease-out forwards 12s;
}
.part11{
    animation: landingSVGAnimate .5s ease-in-out forwards 4.50s, hiddenAfter 1s ease-out forwards 12s;

}
.part12{
    animation: landingSVGAnimate .5s ease-in-out forwards 4.75s, hiddenAfter 1s ease-out forwards 12s;

}
.part13{
    animation: landingSVGAnimate .5s ease-in-out forwards 5s, hiddenAfter 1s ease-out forwards 12s;

}
.part14{
    animation: landingSVGAnimate .5s ease-in-out forwards 5.2s, hiddenAfter 1s ease-out forwards 12s;
}
.part15{
    animation: landingSVGAnimate .5s ease-in-out forwards 5.4s, hiddenAfter 1s ease-out forwards 12s;
}
.part16{
    animation: landingSVGAnimate .5s ease-in-out forwards 5.6s, hiddenAfter 1s ease-out forwards 12s;
}
.part17{
    animation: landingSVGAnimate .5s ease-in-out forwards 5.8s, hiddenAfter 1s ease-out forwards 12s;
}
.part18{
    animation: landingSVGAnimate .5s ease-in-out forwards 6s, hiddenAfter 1s ease-out forwards 12s;
}
.part19{
    animation: landingSVGAnimate .5s ease-in-out forwards 6.2s, hiddenAfter 1s ease-out forwards 12s;
}
.part20 {
    animation: landingSVGAnimate .5s ease-in-out forwards 6.4s, hiddenAfter 1s ease-out forwards 12s;
}
.part21 {
    animation: landingSVGAnimate .5s ease-in-out forwards 6.6s, hiddenAfter 1s ease-out forwards 12s;
}
.part22 {
    animation: landingSVGAnimate .5s ease-in-out forwards 6.8s, hiddenAfter 1s ease-out forwards 12s;
}
.part23 {
    animation: landingSVGAnimate .5s ease-in-out forwards 6.9s, hiddenAfter 1s ease-out forwards 12s;
}
.part24 {
    animation: landingSVGAnimate .5s ease-in-out forwards 7s, hiddenAfter 1s ease-out forwards 12s;
}
.part25 {
    animation: landingSVGAnimate .5s ease-in-out forwards 7.1s, hiddenAfter 1s ease-out forwards 12s;
}
.part26 {
    animation: landingSVGAnimate .5s ease-in-out forwards 7.2s, hiddenAfter 1s ease-out forwards 12s;
}
.part27 {
    animation: landingSVGAnimate .5s ease-in-out forwards 7.3s, hiddenAfter 1s ease-out forwards 12s;
}
.part28 {
    animation: landingSVGAnimate .5s ease-in-out forwards 7.4s, hiddenAfter 1s ease-out forwards 12s;
}
.part29 {
    animation: landingSVGAnimate .5s ease-in-out forwards 7.5s, hiddenAfter 1s ease-out forwards 12s;
}
.part30 {
    animation: landingSVGAnimate .5s ease-in-out forwards 7.6s, hiddenAfter 1s ease-out forwards 12s;
}
.part31 {
    animation: landingSVGAnimate .5s ease-in-out forwards 7.7s, hiddenAfter 1s ease-out forwards 12s;
}
.part32 {
    animation: landingSVGAnimate .5s ease-in-out forwards 7.8s, hiddenAfter 1s ease-out forwards 12s;
    z-index: 999;
}
.part33 {
    animation: landingSVGAnimate .5s ease-in-out forwards 7.9s, hiddenAfter 1s ease-out forwards 12s;
}
.part34 {
    animation: landingSVGAnimate .5s ease-in-out forwards 8s, hiddenAfter 1s ease-out forwards 12s;
}
/* .part35 {
    animation: landingSVGAnimate .5s ease-in-out forwards 8.45s, hiddenAfter 1s ease-out forwards 12s;
}
.part36 {
    animation: landingSVGAnimate .5s ease-in-out forwards 8.5s, hiddenAfter 1s ease-out forwards 12s;
    z-index: 999;
} */
.part37 {
    animation: landingSVGAnimate 2s ease-in-out forwards 8.55s, hiddenAfter 1s ease-out forwards 12s;
}
.part38 {
    animation: landingSVGAnimate 2s ease-in-out forwards 8.6s, hiddenAfter 1s ease-out forwards 12s;
}
.part39 {
    animation: landingSVGAnimate 2s ease-in-out forwards 8.65s, hiddenAfter 1s ease-out forwards 12s;
}
.part40 {
    animation: landingSVGAnimate .5s ease-in-out forwards 7.9s, hiddenAfter 1s ease-out forwards 12s;
}
.part41 {
    animation: landingSVGAnimate .5s ease-in-out forwards 8s, hiddenAfter 1s ease-out forwards 12s;
}
.part42 {
    animation: landingSVGAnimate .5s ease-in-out forwards 8.45s, hiddenAfter 1s ease-out forwards 12s;
}
.part43 {
    animation: landingSVGAnimate .5s ease-in-out forwards 8.5s, hiddenAfter 1s ease-out forwards 12s;
    z-index: 999;
}
.part44 {
    animation: landingSVGAnimate 2s ease-in-out forwards 8.55s, hiddenAfter 1s ease-out forwards 12s;
}
.part45 {
    animation: landingSVGAnimate 2s ease-in-out forwards 8.6s, hiddenAfter 1s ease-out forwards 12s;
}
.part46 {
    animation: landingSVGAnimate 2s ease-in-out forwards 8.65s, hiddenAfter 1s ease-out forwards 12s;
}
.part47 {
    animation: landingSVGAnimate 2s ease-in-out forwards 8.65s, hiddenAfter 1s ease-out forwards 12s;
}
.part48 {
    animation: landingSVGAnimate 2s ease-in-out forwards 8.65s, hiddenAfter 1s ease-out forwards 12s;
}
.part49 {
    animation: landingSVGAnimate 2s ease-in-out forwards 8.65s, hiddenAfter 1s ease-out forwards 12s;
}.part50 {
    animation: svgAppear 2s ease-in-out forwards 13s, goUp .5s ease-in-out forwards 15s;
}

@keyframes goUp {
    to {
        top: 25%;
    }
}
@keyframes svgAppear {
    from {
        opacity: 0;
        top: 50%;
    }
    to {
        opacity: 1;
        top:50%;
    }
}
@keyframes landingSVGAnimate {
    to {
        top: 50%;
    }
}

@keyframes landingSVGAnimate1 {
    to {
        left: 0%;
    }
}

@keyframes landingSVGAnimate2 {
    to {
        left: 0%;
    }
}

.centerSVGwrapper .texts {
    z-index: 999;
    position: absolute;
    top: 110%;
    left: 125%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    font-family: 'Sansita Swashed', cursive;
    font-size: 50px;
}

.centerSVGwrapper .texts a {
    background-color: #F8907D;
    padding: 10px 40px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    box-shadow: 5px;
    transition: 1s ease;
    border: 5x solid transparent;
}

.centerSVGwrapper .texts a:hover {
    border: 5px solid #F8907D;
    background-color: transparent;
    color: #F8907D;

}


/* About */

.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.card {
    cursor: pointer;
    width: 340px;
    height: 480px;
}

.front, .back {
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: transform .6s linear;
    border-radius: 5px;
}

.front {
    transform: perspective(600px) rotateY(0deg);
}

.back {
    background: #f1f1f1;
    transform: perspective(600px) rotateY(180deg);
}
.back-content {
    color: #2c3e50;
    text-align: center;
    width: 100%;
}

.profile-card {
    text-align: center;
    overflow:hidden;
}

.card-header {
    background: #2c3a47;
    padding: 60px 40px;
}

.pic{
    display: inline-block;
    padding: 8px;
    background: linear-gradient(130deg, #74b9ff, #e66767);
    margin: auto;
    border-radius: 50%;
    background-size: 200% 200%;
    animation: animated-gradient 2s linear infinite;
}

.name {
    color: #f2f2f2;
    font-size: 28px;
    font-weight: 600;
    margin: 10px 0;
}

.desc {
    font-size: 18px;
    color: #e66767;
}

.sm {
    display :flex;
    justify-content: center;
    margin: 20px 0;
}

.sm a {
    color: #f2f2f2;
    width: 56px;
    font-size: 22px;
    transition: .3s linear;
    text-decoration: none;
}

.sm a:hover{
    color: #366767;
}

.card-footer{
    /* background: #f4f4f4; */
    padding: 60px 10px;
    width: 100%;
    display: flex;


}

.numbers {
    display: flex;
    align-items: center;
}

.item {
    flex: 1;
    text-transform: uppercase;
    font-size: 13px;
    color: #e66767;
    padding: 0 3px;
    /* text-align: center; */

    
}

.item span{
    display: block;
    color: white;
    font-size: 30px;
}

@keyframes animated-gradient{
    25% {
        background-position: left bottom;
    }
    50% {
        background-position: right bottom;
    }
    75% {
        background-position: right top;
    }
    100% {
        background-position: left top;
    }
}

.pic img {
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.front img{
    object-fit: cover;
    height: 100%;
}
.card:hover > .front {
    transform: perspective(600px) rotateY(-180deg);
}
.card:hover > .back {
    transform: perspective(600px) rotateY(0deg);
}

#about {
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: #48dbfb60;
}

.inner-width {
    max-width: 1300px;
    margin: auto;
    padding: 0 40px;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .centerSVG svg {
        padding: 0 2vw;
        position: absolute;
        top: 20%;
    }
}